h1 {
  color: #322e46;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300%;
  font-variant: small-caps;
  text-shadow: 2px 2px #55a195;
  text-align: center;
}
body {
  background-color: #f9f8d3;
  min-height: 100vh;
}

.mainbuttons {
  background-color: #a0d9af;
  color: #395c6a;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 75px 100px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 95%;
  text-align: center;
}

.mainbuttons:hover {
  background-color: #55a195;
  color: #f9f8d3;
}
.forusbuttons {
  padding: 20px 25px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  border-radius: 2px;
  color: #395c6a;
  background-color: #f9f8d3;
  cursor: pointer;
  text-align: center;
}
.forusbuttons:hover {
  background-color: #55a195;
  color: #f9f8d3;
}
.HaveLoginOrSignUp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  padding: 15px 45px;
}
.TakeLoginOrSignUp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  padding: 15px 45px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  text-align: center;
}
